<!DOCTYPE html>
<html>
  <head>
    <title>True Feedback Chain - Beta</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    
  </head>

  <body>   
<% if user_signed_in? %>
    
      <%= render 'surveys/head_file'%>


<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
      
      

<%= yield %>

</div>
<% else %>
<%= render 'surveys/head_file'%>
<div class="container" > <%= yield %> </div>

<%= render 'shared/index_unsigned'%>

<% end %>
  </body>
</html>

 
